/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Style */
body {
    font-family: 'Cambira', sans-serif;
    color: #333;
    italic: true; 
    line-height: 1.6;
    background-color: #f4f4f4;
    
}

/* Header Styling */
#header {
    background: linear-gradient(45deg, #007bff, #6610f2);
    color: #fff;
    padding: 40px 0;
    margin-bottom: 20px;
}

/* Section Styling */
main {
    margin: 0 auto;
    max-width: 1200px;
}

section {
    padding: 40px 20px;
}

section h2 {
    color: #333;
    margin-bottom: 20px;
}

section p {
    color: #666;
}

/* Card Styling */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f8f9fa;
}

.card h5 {
    color: #007bff;
}

.card a.btn-primary {
    background-color: #007bff;
    border: none;
}

.card a.btn-primary:hover {
    background-color: #0056b3;
}

/* Footer Styling */
footer {
    background: #333;
    color: #fff;
}
